.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Table-div {
  width: 80%;
  margin-left:auto;
  margin-right:auto;
  padding: 30px;
  margin-top: 30px;
}

tr {
  height: 50px;
}

th {
  height: 103px;
}

input[type=text], select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.SearchButton {
  width: 80%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.SearchButton:hover {
  background-color: #45a049;
}